html{
	font-family: "Arial", Arial, sans-serif;
}

body {
	margin :0;

	/*Look*/
	
	color: white;
}



/* Nav */

	#nav {
		/*Position & dimensionnement*/
		left:0;
		right: 0;
		top:0;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		height: 80px;
		width: 1300px;
		z-index: 3;
		/*Look*/
		color: white;
		background-color: #0F0F0F;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	#nav p,h2 {
		margin:0;
	}	

	#cell {
		height: 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 10px;
		margin-right: 10px;
	}

	#cell a {
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		color: white;
		text-decoration: none;
		font-size: 25px;
	}

	#cell + .other a:hover{
		border-bottom-color: red;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}

	#cell + .selected {
		border-bottom-color: red;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}

/*Wrapper*/
	#wrapper{
		/*Position*/
		margin: 80px 0;
		margin-left: auto;
		margin-right: auto;
		max-width: 1300px;
		z-index: 2;

	}

/*Banner*/

	#bruce{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 600px;
	}

/*Content*/

	#content{
		/*Organisation*/
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		/*Look*/
		background-color: #1D1D1D;
		color: white;
		box-shadow: 10px 7px 15px rgba(0, 0, 0, .75), -10px 7px 15px rgba(0,0,0, .75);
	}
}

	#content h1 {
		font-size: 50px;
	}

	#content h2{
		font-size: 40px;
	}

	#content p {
		font-size: 30px;
		text-align: justify;
	}

/*Projets informatiques*/

	#infocard{
		height: 562px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#infocard a {
		color: white;
	}

	#infocard p {
		font-size: 25px;
	}

	#infocard h3 {
		color: grey
	}

	#infoproj {
		width: 1100px;
		padding: 50px 50px;
		background-color: rgba(29,29,29,0.90);
	}

	#infocard:hover{
		filter: alpha(opacity=10); 
		opacity:0.1;
	}

	#infoprojdl{
		height: 60px;
		display: flex;
		justify-content: flex-end;
	}

	#infoprojdl a:hover{
		color:grey;
	}

	#infoprojdl a {
		color: white;
	}

	#container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
	}

	#dl{
		border-style: solid;
		border-color: white;
		border-width: 3px;
		background-color: transparent;
		border-radius: 20px;
		padding: 20px 10px;
		font-size: 35px;
		font-weight: bold;
		color: white;
	}

	#dl:hover {
		background-color: white;
		color: black;
	}

/*Projets 3D*/

	#yt i {
		color: red;
	}
	#yt i:hover {
		color: #c42323;
	}
	#yt p {
		font-size: 25px !important; 
	}