html{
	font-family: "Arial", Arial, sans-serif;
}

body {
	margin :0;
	background: url(../images/ThorGiant.png) no-repeat center top;
	background-size: 100%;
	background-color: #252525;
	background-attachment: fixed;	
	color: white;
}



/* Nav */

	#nav {
		/*Position & dimensionnement*/
		left:0;
		right: 0;
		top:0;
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		height: 80px;
		width: 1300px;
		z-index: 3;
		/*Look*/
		color: white;
		background-color: #0F0F0F;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	#nav p,h2 {
		margin:0;
	}
	
	#nav-left {
		display: flex;
		justify-content: center;
		margin-left: 25px
	}
	#nav-left-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	#nav-left-link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		margin-left:25px;
	}
	#nav-right {
		display: flex;
		justify-content: space-around;
		margin-right: 15px
	}

	#cell {
		height: 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-left: 10px;
		margin-right: 10px;
	}

	#cell a {
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		color: white;
		text-decoration: none;
		font-size: 25px;
	}

	#cell img {
		width: 35px;
	}

	#cell + .other a:hover{
		border-bottom-color: red;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}

	#cell + .selected {
		border-bottom-color: red;
		border-bottom-width: 5px;
		border-bottom-style: solid;
	}

	
/*Languages*/
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #0F0F0F;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		top: 100%;
		left: -50%;
	}

	.dropdown:hover .dropdown-content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#cell .dropdown-content a {
		display: inline-block;
		padding: 10px;
		text-decoration: none;
		/* color: white; /* Default text color */
	}

	#cell .dropdown-content a:hover {
		color: red;
	}

/*Wrapper*/
	#wrapper{
		/*Position*/
		margin: 80px 0;
		margin-left: auto;
		margin-right: auto;
		max-width: 1300px;
		z-index: 2;

	}

/*Banner*/

	#bruce{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 400px;
	}
	#bruce h1{
		font-size: 50px;
	}

/*Content*/

	#content{
		/*Organisation*/
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		/*Look*/
		background-color: #1D1D1D;
		color: white;
		box-shadow: 10px 7px 15px rgba(0, 0, 0, .75), -10px 7px 15px rgba(0,0,0, .75);
	}
	.content-title{
		height: 120px;
		width: 100%;
		margin-bottom: 20px;
	}
	.content-title span{
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}
	.content-title h2{
		font-size: 40px;
		margin-left: 60px;
	}

	#content h1 {
		font-size: 50px;
	}

	#content h2{
		font-size: 40px;
	}

	#content p {
		font-size: 30px;
		text-align: justify;
	}

	.content-span {
		max-width: 1000px;
		margin-bottom: 40px;
	}

/*A Propos*/

	.home-profile-picture {
		width: 300px; 
		margin: 50px
	}

	.home-text-span {
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.home-text-span h1 {
		font-size: 50px
	}
	.home-text-span h2 {
		margin: 0;
	}
	.home-text-span p {
		margin-top: 50px;
	}

/*Projets informatiques*/

	#infocard{
		height: 562px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	#infocard a {
		color: white;
	}

	#infocard p {
		font-size: 25px;
	}

	#infocard h3 {
		color: grey
	}

	#infoproj {
		width: 1100px;
		padding: 50px 50px;
		background-color: rgba(29,29,29,0.90);
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	#infocard:hover #infotext{
		filter: alpha(opacity=10); 
		opacity:0.1;
	}

	#infocard:hover #infoproj {
		background-color: rgba(29,29,29,0.10) !important;
	}

	#infotext {
		margin-right: 25px;
	}

	#infoprojdl{
		height: 60px;
		display: flex;
		justify-content: flex-end;
	}

	#infoprojdl a:hover{
		color:grey;
	}

	#infoprojdl a {
		color: white;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	#infoprojdl img:hover{
		filter: brightness(0.5);
	}

	#infoprojdl img {
		filter: brightness(1);
	}

	#infovid:hover > * {
		filter: alpha(opacity=100);
		opacity:1.0;
	}

	#container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.projInfoContainer {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), var(--image-url);
		background-size: 100%;
		background-repeat:no-repeat center top;
		width: 100%
	}

	#dl{
		border-style: solid;
		border-color: white;
		border-width: 3px;
		background-color: transparent;
		border-radius: 20px;
		padding: 20px 10px;
		font-size: 35px;
		font-weight: bold;
		color: white;
	}

	#dl:hover {
		background-color: white;
		color: black;
	}

/*Projets 3D*/

	.real-element span {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.real-element span h2 {
		margin: 40px 0px;
	}
	.real-element p {
		font-size: 20px  !important;
	}

	#yt i,a {
		color: red;
	}
	#yt a:hover,#yt i:hover {
		color: #c42323;
	}

	#yt a:visited {
		color: red;
	}
	#yt p {
		font-size: 25px !important; 
	}

/* Autres projets */

	.autre-proj-element span {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.autre-proj-element span h2 {
		margin: 40px 0px;
	}
	.autre-proj-element p {
		font-size: 20px !important;
	}

	.splide__slide div {
		margin-bottom: 20px
	}
